@media screen and (max-width: 900px) {
  .menu__list-item h1 {
    margin: 0px 0 20px 7px;
  }

  a.menu__link {
    padding-left: 8px;
  }

  .breadcrumbs {
    text-align: right;
    position: relative;
    bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .theme-doc-breadcrumbs {
    margin-right: 50px;
  }
}
