@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./normalize.css");
@import url("./mobile.css");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5b39df;
  --ifm-color-primary-dark: #5233c9;
  --ifm-color-primary-darker: #492eb2;
  --ifm-color-primary-darkest: #40289c;
  --ifm-color-primary-light: #6b4de2;
  --ifm-color-primary-lighter: #7c61e5;
  --ifm-color-primary-lightest: #8c74e9;
  --ifm-color-primary-more-lightest: #9d88ec;
  --ifm-color-primary-even-more-lightest: #fee9ee;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-color-content-secondary: #f62459;
  --ifm-navbar-height: 4.55rem;

  --runme-font-size-base: 1rem;
  --runme-font-size-sm: 0.875rem;

  --runme-color-warning: #FF776150;
  --runme-color-warning-dark: #A8201150;

  --runme-color-lila-opac: #5B39DF50;
  --runme-color-lila-dark-opac: #0D003D50;

  --runme-font-size-h1: 2.25rem;
  --runme-font-size-h2: 2rem;
  --runme-font-size-h3: $font-size-base;
  --runme-font-size-ingress: 1.5rem;

  --runme-line-height-base: 1.5;
  --runme-baseline: 1.5rem;

  --runme-heading-color: #0d003d;

  --runme-code-color: #0d003d;
  --runme-code-border: #bdcbff;
  --runme-code-background: #f4f5ff;
  --runme-nav-background: #fff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  --ifm-color-primary: #7c61e5;
  --ifm-color-primary-dark: #6b4de2;
  --ifm-color-primary-darker: #5b39df;
  --ifm-color-primary-darkest: #5233c9;
  --ifm-color-primary-light: #8c74e9;
  --ifm-color-primary-lighter: #9d88ec;
  --ifm-color-primary-lightest: #ad9cef;
  --ifm-color-primary-more-lightest: #bdb0f2;
  --ifm-color-primary-even-more-lightest: #cec4f5;
  --ifm-background-color: #161821;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --runme-heading-color: white;

  --runme-code-color: white;
  --runme-code-border: #737ea5;
  --runme-code-background: #33384d;
  --runme-nav-background: #161821;
}

#__docusaurus {
  max-width: 1600px;
  margin: 0 auto;
}

.navbar--fixed-top {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 1px solid var(--ifm-toc-border-color);
}

h1.runmeLogo {
  font-size: 1.5rem!important;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -.5px;
  transform: translateX(-12px);
}

/* blog  start*/
#fluid-typography-blog-header {
  font-size: 2rem;
  font-size: clamp(2rem, 1.3877551020408163rem + 3.2653061224489797vw, 4rem);
}

#fluid-typography-blog-header::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='20' viewBox='0 0 102 9' fill='none'%3E%3Cpath d='M2 5.67655C2 5.67655 22.7794 0.970159 42.1162 2.20718C42.1162 2.20718 38.0217 6.21443 36.9854 6.9488C35.9492 7.68318 73.9603 0.177103 100 6.12389' stroke='%23FFDB06' strokeWidth='4' strokeLinecap='round' strokeLinejoin='round'/%3E%3C/svg%3E");
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
}

.main h1,
.main-wrapper h1 {
  color: var(--runme-heading-color);
}

h1.text-white {
  color: white;
}

.navbar {
  position: sticky;
  background-color: var(--runme-nav-background);
  z-index: 100;
  box-shadow: none
}

.navbar__brand {
  margin-right: 0;
}

.navbar__items--right a {
  margin: 0px 20px;
  padding: 0;
}

.navbar__items--right a:hover {
  text-decoration: underline;
  text-decoration-color: var(--ifm-color-primary);
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

.navbar__link svg {
  display: inline;
}

.navbar__item h1 a:hover {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: var(--ifm-color-primary);
}

[data-theme="dark"] .breadcrumbs__item--active .breadcrumbs__link {
  color: white;
}

a[aria-label="Home page"] {
  position: relative;
  top: 7px;
  padding-left: 0;
}

main a {
  color: var(--ifm-color-primary);
}

main a:hover {
  text-decoration: underline;
  color: var(--ifm-color-primary);

}

a:hover {
  color: inherit;
  text-decoration: none;
}

.mdx-page .navbar__link,
.mdx-page .clean-btn,
.navbar__link,
.clean-btn {
  color: var(--ifm-navbar-link-color);
}

.discordLink svg,
.githubLink svg {
  display: none !important;
}


.docsLink {
  position: relative;
}


.theme-edit-this-page svg {
  display: inline;
}

.pagination-nav__sublabel {
  color: var(--ifm-color-content);
}

.pagination-nav__label,
.theme-edit-this-page,
.theme-edit-this-page:hover {
  color: var(--ifm-color-primary);
}

[data-theme="dark"] .pagination-nav__label,
[data-theme="dark"] .theme-edit-this-page {
  color: var(--ifm-color-primary);
}

.theme-doc-markdown {
  margin-top: 3em;
}

.theme-doc-sidebar-container {
  min-height: 300px;
}

p {
  color: var(--ifm-heading-color);
}

strong {
  color: var(--ifm-color-primary);
}

[data-theme="dark"] .docs-wrapper {
  background-color: var(--runme-background-dark);
}

.theme-doc-toc-desktop:before {
  content: "On this page";
  font-weight: bold;
  margin-top: 92px;
  display: block;
  font-size: 1.2em;
}

.table-of-contents__left-border,
.table-of-contents__left-border li {
  border: 0;
  padding-left: 0;
  marginLeft: 0;
}

.table-of-contents__link {
  font-size: 1.2em;
  color: var(--ifm-color-primary);
}

.table-of-contents__link:hover {
  font-size: 1.2em;
  text-decoration: underline;
}

.table-of-contents li code {
  background: transparent;
  border: 0;
}

ol {
  list-style-type: decimal;
  margin-left: 2em;
  margin-bottom: var(--ifm-leading);
}

.infobox {
  position: relative;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  max-width: 500px;
  marginLeft: auto;
  margin-right: auto;
  margin-bottom: var(--ifm-leading);
}

.infobox>p:not(:last-child) {
  margin-bottom: calc(var(--ifm-leading)/2);
}

.markdown img {
  margin: 1em auto;
  border-radius: 4px;
}

.infobox-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

@keyframes floating {
  0% {
    transform: translate(0)
  }

  50% {
    transform: translateY(5px)
  }

  to {
    transform: translate(0)
  }
}

.infobox-icon {
  position: absolute;
  left: -2em;
  top: 0.5em;
  animation: floating 3s ease-in-out infinite;
}

.infobox-sidenote>.infobox-icon {
  left: -2.6em;
  top: 0.6em;
}

.infobox-warning {
  background-color: var(--runme-color-warning);
  border: 1px solid var(--runme-color-warning-dark);
}

.infobox-sidenote {
  background-color: var(--runme-color-lila-opac);
  border: 1px solid var(--runme-color-lila-dark-opac);
}

/* .markdown a {
  color: var(--ifm-color-content-secondary);
} */

html[data-theme="dark"] .markdown a {
  color: var(--ifm-color-primary);
}

.events {
  background: white;
}

video {
  border-radius: 10px;
}

.notfound {
  width: 100%;
}

.menu__list-item-collapsible {
  text-transform: capitalize;
}
