.docs-doc-page h1 { font-size: 2em!important;       /* 2*16 = 32 */       }
.docs-doc-page h2 { font-size: 1.5em!important;     /* 1.5*16 = 24 */     }
.docs-doc-page h3 { font-size: 1.17em!important;    /* 1.17*16 = 18.72 */ }
.docs-doc-page h4 { font-size: 1em!important;       /* 1*16 = 16 */       }
.docs-doc-page h5 { font-size: 0.83em!important;    /* 0.83*16 = 13.28 */ }
.docs-doc-page h6 { font-size: 0.75em!important;    /* 0.75*16 = 12 */    }

h1 {
  color: var(--runme-color-lila-dark);
}
[data-theme='dark'] .main h1 {
  color: var(--ifm-color-primary-more-lightest);
}

body ul {
  list-style: disc;
  padding-left: 25px;
}

code {
  display: inline-block;
  padding: 4px 5px;
  margin: 0 5px;
  color: var(--runme-code-color);
  border: 1px solid var(--runme-code-border);
  background: var(--runme-code-background);
}

body pre code {
  min-width: 98%!important;
}
